/* drag drop box*/
.dropzone {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.dropzone-inner {
    cursor: pointer;
}

.dropzone label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropzone .browse-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.dropzone input[type="file"] {
    display: none;
}
/* drag drop upload button*/
.browse-btn {
    cursor: pointer;
    color: #fff; /* White text color */
}

/* Custom styles for the hover effect */
.browse-btn:hover {
    background-color: #007bff; /* Darker shade of primary color */
    color: #000; /* Black text color */
}
